footer.footer.bvi-no-styles#colophon(role="contentinfo")
	.container.bvi-no-styles
		.footer-row.bvi-no-styles
			.footer-col-left.bvi-no-styles
				p.bvi-no-styles
					|Авторские права © [!$_SERVER['REQUEST_TIME']:dateFormat='Y'!]
					| &nbsp;
					a.bvi-no-styles(href="[(site_url)]")
						|СП ДС «Василёк» ГБОУ СОШ с. Бобровка м. р. Кинельский Самарской области
			.footer-col-center.bvi-no-styles
				p.bvi-no-styles
					a.bvi-no-styles.icon-rss(href="[(site_url)]rss.xml" target="_blank")
			.footer-col-right.bvi-no-styles
				p.bvi-no-styles
					|Developed by:
					| &nbsp;
					a.bvi-no-styles(href="https://github.com/ProjectSoft-STUDIONIONS" target="_blank")
						|ProjectSoft © 2000 - [!$_SERVER['REQUEST_TIME']:dateFormat='Y'!]
.fancybox__wrapper
