.headerpage
	.header-page.container
		.header-group
			p.site-title
				|<@IF:[*id:is(1)*]>
				|[(site_name)]
				|<@ELSE>
				a(href="[(site_url)]")
					|[(site_name)]
				|<@ENDIF>
			p.site-description
				|[(site_description)]
			#search
				form#search-form(action="/search/" method="GET")
					input(type="text" name="search" value="[!$_GET['search']!]" placeholder="Поиск" required)
					button.btn.icon-search(type="submit")
	.header-slick
		|[[multiTV?
		|	&fromJson=`[(sliders)]`
		|	&tvName=`sliders`
		|]]
	|{{@FILE assets/templates/projectsoft/tpl/menu.html}}
