.headerpage
	.header-page.container
		.header-group
			p.site-title
				|<@IF:[*id:is(1)*]>
				|[(site_name)]
				|<@ELSE>
				a(href="[(site_url)]")
					|[(site_name)]
				|<@ENDIF>
			p.site-description
				|Мы рады видеть Вас на официальном сайте СП ДС «Василёк» государственного бюджетного общеобразовательного учреждения средней общеобразовательной школы с. Бобровка муниципального района Кинельский Самарской области
			#search
				form#search-form(action="/search/" method="GET")
					input(type="text" name="search" value="[!$_GET['search']!]" placeholder="Поиск" required)
	.header-slick
		|[[multiTV?
		|	&fromJson=`[(sliders)]`
		|	&tvName=`sliders`
		|]]
	|{{@FILE assets/templates/projectsoft/tpl/menu.html}}
