script(src="assets/templates/projectsoft/js/appjs.min.js?" + hash)
script(src="viewer/fancybox.min.js?" + hash)
script(src="assets/templates/projectsoft/js/main.min.js?" + hash)
|<@IF:[*id:neq(31)*]>
include yandex.html
|<@ENDIF>
include screen.pug
