script(src="assets/templates/projectsoft/js/appjs.min.js?" + hash)
script(src="viewer/fancybox.min.js?" + hash)
script(src="assets/templates/projectsoft/js/main.min.js?" + hash)
include style.html
|<@IF:[*id:neq(31)*]><@IF:[*template:neq(13)*]>
include yandex.html
|<@ENDIF><@ENDIF>
include screen.pug
