<div class="headerpage"><div class="header-page container"><div class="header-group"><p class="site-title"><@IF:[*id:is(1)*]>
[(site_name)]
<@ELSE><a href="[(site_url)]">[(site_name)]</a><@ENDIF></p><p class="site-description">[(site_description)]</p><div id="search"><form id="search-form" action="/search/" method="GET"><input type="text" name="search" value="[!$_GET['search']!]" placeholder="Поиск" required><button class="btn icon-search" type="submit"></button></form></div></div></div><div class="header-slick">[[multiTV?
	&fromJson=`[(sliders)]`
	&tvName=`sliders`
]]</div>{{@FILE assets/templates/projectsoft/tpl/menu.html}}</div>