doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")
	include inc/head.pug
	body
		.body.bvi-no-styles
			include inc/eya.pug
			header#masthead(role="banner")
				|{{@FILE assets/templates/projectsoft/tpl/header.html}}
			.main
				.primary
					#content(role="main")
						article(id!="page-[*id*]" class!="page page-[*id*] type-page clearfix")
							|<@IF:[*id:neq(1)*]>
							header.entry-header
								h1.entry-title
									|[*longtitle:ifempty=`[*pagetitle*]`*]
							|<@ENDIF>
							.entry-content
								|<@IF:[*id:is(1)*]>
								include inc/gosuslugi.pug
								//-|{{@FILE assets/templates/projectsoft/tpl/gosuslugi.html}}
								|<@ENDIF>
								|[*content*]
								p.clearfix
						|[[DocLister?
						|   &parents=`2`
						|   &display=`[(news_count_home)]`
						|   &tvList=`imageSoc, news_date`
						|   &tvPrefix=``
						|   &orderBy=`news_date DESC`
						|   &sortBy=`news_date`
						|   &sortDir=`DESC`
						|   &tvSortType=`TVDATETIME`
						|   &prepare=`\ProjectSoft\PrepareDL::prepareItem`
						|   &noneTPL=``
						|   &ownerTPL=`@FILE:projectsoft/tpl/news_owner`
						|   &tpl=`@FILE:projectsoft/tpl/news_tpl`
						|   &showParent=`0`
						|   &urlScheme=`full`
						|   &noneWrapOuter=`0`
						|]]
						include inc/share.pug
				.secondary#secondary(role="complementary")
					|{{@FILE assets/templates/projectsoft/tpl/widgets.html}}
				.main-footer
					|{{@FILE assets/templates/projectsoft/tpl/sites_link.html}}
				|{{@FILE assets/templates/projectsoft/tpl/sendbot.html}}
			|{{@FILE assets/templates/projectsoft/tpl/footer.html}}
		include inc/body_close.pug
