@font-face {
	font-family: 'Ruslan Display';
	font-style: normal;
	font-weight: 400;
	src: url("@{fontpath}/RuslanDisplayRegular.woff2?@{hashes}") format("woff2"),
		url("@{fontpath}/RuslanDisplayRegular.woff?@{hashes}") format("woff"),
		url("@{fontpath}/RuslanDisplayRegular.ttf?@{hashes}") format("truetype");
}